.hello {
    width: 700px;
    height: 400px;
    background-color: red ;
    border-radius: 15px;
    border: lightgrey 0.1px solid;
}
/*//hello header */
.hello-header {
    height: 150px;
    background-color: red;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    text-align: center;
}

h1 {
    font-family: "Arial Black";
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 0em;
}
p {
    font-family: Arial;
    color: white;
    text-transform: lowercase;
    font-size: 20px;
    margin-top: 0em;
}

.hello-body {
    font-family:"Comic Sans MS";
    font-size: 100px;
    background-color: white;
    height: 180px;
    text-align: center;
    margin: 0em;;
}